normal_button-menu-alert = 0px 0px 35px 33px
normal_button-menu-disabled = -38px 0px 35px 33px
normal_button-menu-hover = 0px -36px 35px 33px
normal_button-menu-normal = -38px -36px 35px 33px
normal_width = 73px
normal_height = 69px